.task-list {
  height: 80vh;
  width: 50%;
  margin-top: 20px;
}

.btn-container {
  display: flex;
  background-color: transparent;
  height: 10%;
  width: 60%;
}
.btn-container button {
  margin-left: 20px;
}

.uncompleted-tasks-wrapper {
  height: 90%;
  margin-top: 20px;

  overflow-y: hidden;
  width: 100%;
}
.uncompleted-tasks::-webkit-scrollbar {
  visibility: hidden;
}
.uncompleted-tasks {
  height: 300px;
  margin-bottom: 10px;
  overflow-y: scroll;
}

.uncompleted-tasks-wrapper h2 {
  width: max-content;
  border-bottom: solid 3px rgb(174, 255, 0);
}
.un-cmp {
  box-shadow: 4px 3px 0px 0px darkgrey;
  border-radius: 20px;
  display: flex;
  height: 80px;
  width: 98%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 20px;
  align-items: center;
  background-color: whitesmoke;
  margin-top: 20px;
}
.un-cmp-details {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 70%;
}

.un-cmp input {
  height: 30px;
  width: 30px;
  margin-right: 40px;
}
.un-cmp-title {
  margin-right: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.un-cmp-tag {
  height: 20%;
  width: 10%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-right: 40px;
  text-transform: capitalize;
  border: solid 2px;
}

.un-cmp-date {
  height: 100%;
  width: 10%;
  display: flex;
  color: gray;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
  text-transform: capitalize;
}

.un-cmp button {
  margin-right: 20px;
}

.completed-tasks-wrapper {
  margin-top: 20px;
  height: 90%;
  width: 100%;
  overflow-y: hidden;
}

.completed-tasks-wrapper h2 {
  width: max-content;
  border-bottom: solid 3px blue;
}

.completed-tasks-container::-webkit-scrollbar {
  visibility: hidden;
}
.completed-tasks-container {
  height: 300px;
  margin-bottom: 20px;
  width: 100%;
  overflow-y: scroll;
}
.cp-cmp {
  box-shadow: 4px 3px 0px 0px darkgrey;
  border-radius: 20px;
  display: flex;
  height: 80px;
  width: 98%;
  box-sizing: border-box;
  padding-left: 20px;
  align-items: center;
  background-color: whitesmoke;
  margin-top: 10px;
  justify-content: space-between;
}

.cp-cmp-details {
  justify-content: space-around;
  height: 100%;
  width: 50%;

  align-items: center;
  display: flex;
}

.cp-tag {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  border-radius: 15px;
  border: solid 2px;
  padding: 10px;
}
.cp-title {
  text-transform: capitalize;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.cp-date {
  text-transform: capitalize;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

@media screen and (max-width: 900px) and (min-width: 300px) {
  .task-list {
    width: 95%;
  }
  .uncompleted-tasks {
    height: 700px;
  }
  .completed-tasks-container {
    height: 700px;
  }
  .btn-container button {
    height: 60px;
    border-radius: 20px;
  }
}
